<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="ServiceDescription" value="Windows Service"/>
		<add key="ServiceDisplayName" value="WinServiceBase"/>
		<add key="ServiceName" value="WinServiceBase"/>
	</appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
</configuration>
